# Byte-compiled
__pycache__/
*.py[cod]

# C extensions
*.c
*.so

# Building
build/
*.egg
*.egg-info/
.eggs/
eggs/

# Distribution
dist/
sdist/
wheels/

# Unit test
.tox/
.nox/
.cache
.pyright/
.pytest_cache/

# Environments
.env
.venv/
env/
venv/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/
