# Byte-compiled
__pycache__/
*.py[cod]

# C extensions
*.c
*.so

# Distribution
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg

# Unit test
.tox/
.nox/
.cache
.pyright/
.pytest_cache/

# Environments
.env
.venv/
env/
venv/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/
